<h1>Sign Up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div id="sign-in-container">
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.text_field :name, placeholder: "Name", autofocus: true, autocomplete: "name", class: "email-field" %>

    <%= f.email_field :email, placeholder: "Email", autocomplete: "email", class: "email-field" %>

    <%= f.password_field :password, placeholder: "Password (6 characters minimum)", autocomplete: "new-password", class: "password-field" %>

    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "password-field" %>

    <%= f.submit "Sign up", id: "sign-up-button" %>

    <p>Already have an Account?</p>

    <%= render "devise/shared/links" %>
  </div>
<% end %>
