<h1>Notifications</h1>

<div id="notifications-container">
  <% if @friend_requests.any? %>
    <h2>Pending Friend Requests</h2>
    <ul id="friend_requests">
      <% @friend_requests.each do |friend_request| %>
        <li class="friend_request">
          <div class="user-info">
            <% if friend_request.sender.photo.attached? %>
              <a href="<%= user_url(friend_request.sender) %>"><%= image_tag friend_request.sender.photo, class: 'user-icon' %></a>
            <% else %>
              <a href="<%= user_url(friend_request.sender) %>"><%= image_tag 'default-user-icon.jpg', class: 'user-icon' %></a>
            <% end %>
            <%= link_to friend_request.sender.name, user_path(friend_request.sender) %>
          </div>
          <div class="buttons">
            <%= button_to "Accept", {:controller => "friendrequests", :action => "destroy", :id => friend_request.id, :type => "accept"}, id: 'accept-button', :method=>:delete %>
            <%= button_to "Decline", {:controller => "friendrequests", :action => "destroy", :id => friend_request.id, :type => "decline"}, id: 'decline-button', :method=>:delete %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h2>No New Notifications</h2>
  <% end %>
</div>