<h1><%= @user.name %></h1>

<% if @user.photo.attached? %>
  <%= image_tag @user.photo, class: 'user-photo' %>
<% end %>

<% if @user == current_user %>
  <%= link_to "Update Profile Picture", edit_user_path(current_user) %>
<% end %>

<h2>Posts</h2>
<ul id="posts">
  <% @user.posts.each do |post| %>
    <li class="post">
      <%= post.body %>
    </li>
  <% end %>
</ul><br />

<h2>Friends</h2>
<ul id="friends">
  <% @user.friends.each do |friend| %>
    <li class="friend">
      <%= link_to friend.name, user_path(friend) %>
    </li>
  <% end %>
</ul>