<h1>Forgot your password?</h1>

<div id="flex-container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div id="sign-in-container">
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "email-field" %>

      <%= f.submit "Send me reset password instructions", id: "reset-password-button" %>

      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
