<div id="comments">
  <% if comment.user.photo.attached? %>
    <a href="<%= user_url(comment.user) %>"><%= image_tag comment.user.photo, class: 'user-icon' %></a>
  <% else %>
    <a href="<%= user_url(comment.user) %>"><%= image_tag 'default-user-icon.jpg', class: 'user-icon' %></a>
  <% end %>
  <p class = "comment">
    <%= link_to comment.user.name, user_path(comment.user) %><br />
    <%= comment.body %>
    <% if comment.user == current_user %>
      <%= button_to "Delete", {:controller => "comments", :action => "destroy", :id => comment.id}, class: 'delete-button', :method=>:delete %>
    <% end %>
  </p>
</div>