<div id="post-container">
  <div class="post" id="post-flex">
    <div class="post-user">
      <% if @post.user.photo.attached? %>
        <a href="<%= user_url(@post.user) %>"><%= image_tag @post.user.photo, class: 'user-icon' %></a>
      <% else %>
        <a href="<%= user_url(@post.user) %>"><%= image_tag 'default-user-icon.jpg', class: 'user-icon' %></a>
      <% end %>
      <%= link_to @post.user.name, user_path(@post.user) %>

      <% if @post.user == current_user %>
        <%= button_to "Delete Post", {:controller => "posts", :action => "destroy", :id => @post.id}, class: 'delete-button', :method=>:delete %>
      <% end %>
    </div>

    <p>
      <%= simple_format(@post.body) %>
    </p>

    <% if @post.photo.attached? %>
      <%= image_tag @post.photo, class: 'post-photo' %>
    <% end %>

    <p class="like-comment-count">
      <%= @post.likes.count %> Likes
      <%= @post.comments.count %> Comments
    </p>

    <div class="like-comment-container">
      <% if @post.likes.map(&:user).include?(current_user) %>
        <%= button_to "Unlike", {:controller => "likes", :action => "destroy", :id => @post.likes.find_by(user:current_user).id}, form_class: 'like-button-form', class: 'like-button', :method=>:delete %>
      <% else %>
        <%= button_to "Like", {:controller => "likes", :action => "create", :user_id => current_user.id, :post_id => @post.id}, form_class: 'like-button-form', class: 'like-button', :method=>:post %>
      <% end %>

      <%= render 'comments/form', post_id: @post.id %>
    </div>

    <% if @post.comments.any? %>
      <h3 id="comment-header">Comments</h3>
    <% end %>
    <%= render partial: 'comment', collection: @post.comments %><br />

    <%= link_to "Back to Timeline", root_path, id: 'posts-link' %>
  </div>
</diV>