<!DOCTYPE html>
<html>
  <head>
    <title>connectU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div id="navbar">
      <% if user_signed_in? %>
        <div class="navbar-general">
          <%= link_to "Home", root_path %>
          <%= link_to "Users", users_path %>
          <%= link_to "Notifications", notifications_path %>
        </div>
        <div class="navbar-user">
          <% if current_user.photo.attached? %>
            <%= image_tag current_user.photo, class: 'user-icon' %>
          <% else %>
            <%= image_tag 'default-user-icon.jpg', class: 'user-icon' %>
          <% end %>
          <%= link_to current_user.name, user_path(current_user) %>
          <%= link_to "New Post", new_post_path %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
